<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prangesoftwaresolutions.audioanchor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/audioanchor_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.AnchorProvider"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".AlbumActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.prangesoftwaresolutions.audioanchor.MainActivity" />
        </activity>
        <activity android:name=".PlayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.prangesoftwaresolutions.audioanchor.AlbumActivity" />
        </activity>
    </application>

</manifest>